/* opacity로 요소의 불투명도를 지정할 수 있다. */
/* 0.0 ~ 1 사이로 지정가능하고 1이 기본값(불투명) */
img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* IE-8 이하 */
}

/* 자식 요소는 투명해지지 않게 한다. */
div {
  background: rgba(76, 175, 80, 0.3);
}
