p {
  /* outline 스타일 */
  outline-style: dotted; /* border와 동일 */

  border: 1px solid black;

  /* 색상 */
  outline-color: red;

  /* 색상 반전 */
  outline-color: invert;

  outline-width: thin; /* thin, medium, thick, solid 또는 특정 크기 (px, pt, em ,cm)*/

  /* 속기 속성 */
  outline: thick ridge pink;

  /* 오프셋 요소의 가장 자리와 outline 사이에 공백을 추가한다. */
  outline-offset: 15px;
}
