p {
  /* 텍스트 색상 (이름, hex, rgb)*/
  color: blue;

  /* 텍스트 정렬 */
  /* ltr 인경우 left, rtl 인경우 right가 기본 값 */
  text-align: center; /* left, right */

  /* 모든 줄의 폭이 동일하고 왼쪽 및 오른쪽 여백이 동일하도록 각 줄이 늘어난다. */
  text-align: justify;

  /* 장식 */
  /* 링크가 아닌 텍스트에 밑줄 긋는건 지양한다. */
  text-decoration: none; /* overline, line-through, underline, none */

  /* 변환 */
  text-transform: uppercase; /* uppsercase, lowercase, capitalize */

  /* 첫 번째줄 들여쓰기 */
  text-indent: 50px;

  /* 문자 간격 */
  letter-spacing: 3px;

  /* 줄 간격 */
  line-height: 1.8;

  /* 텍스트 방향 */
  direction: ltr; /* ltr, rtl */

  /* 단어 사이 공백 */
  word-spacing: 10px;

  /* 그림자 (수평 위치, 수직 위치, 색상) */
  text-shadow: 3px 2px red;
}
